[Unit]
Description=Automation Host Bootstrap
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/bootstrap/bootstrap.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target